.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: url("./images/body_bg.avif");
}

.valuebtn{
    display: flex;
    width: 530px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
button{
    width: 125px;
    height: 65px;
    font-size: 28px;
    font-weight: bold;
    background-color:honeydew;
}
#zero{
    width: 250px;
}
#allClear,#equals{
    width: 530px;
    background-color: orange;
    margin: 20px 0px;
}
.operator{
    margin-left: 30px;
}

#display{
    border: 1px solid black;
    height: 100px;
    width: 530px;
    background-color:honeydew;
}

h1{
    color:orangered;
    font-family: "Matemasie", sans-serif;
    font-size: 65px;
    text-align: center;
}