.valuebtn{
    display: flex;
    width: 530px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
button{
    width: 125px;
    height: 65px;
    font-size: 28px;
    font-weight: bold;
}
#zero{
    width: 250px;
}
#allClear,#equals{
    width: 530px;
    background-color: orange;
    margin: 20px 0px;
}
.operator{
    margin-left: 30px;
}
.number{
}